*{
    font-family: 'EB Garamond', serif;
    padding: 0px;
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
}

.loader-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: white
        url("https://media.giphy.com/media/8agqybiK5LW8qrG3vJ/giphy.gif") center
        no-repeat;
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: white
    
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #3d5af1 transparent #3d5af1 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.wrapper{
    width: 75vw;
    margin: auto;
}

.nav{
    margin-top: 30px;
    font-weight: 900;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.nav h2 span{
color: orange;
}

.nav h2{
    font-size: 40px;
}

.nav-list{
   font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-left: 30px;
}
.nav-list li:hover{
    color: orange;
}


.search-btn{
    border-radius: 30px;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("./search.jpg");
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.4);
    font-weight: 900;

}

.input{
    font-size: 18px;
    padding: 20px;
    width: 30vw;
    border-radius: 20px; 
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.6);   
    cursor: pointer;
}


.click-btn{
    font-size: 18px;
    color: white;
    padding: 18px;
    width: 6vw;
    border-radius: 20px;   
    background-color: orange; 
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}
.click-btn:hover{
    color: black;
    background-color: hsl(39, 100%, 60%); 
}
.search-result{
    display:none;
    justify-content: center;
}
.search-result h1{
    margin-top: 40px;
    font-weight: 900;
    font-size: 40px;
}
.search-result h1 span{
    color: orange;
}

.result{
    padding: 20px;
    gap: 12px;
    margin-top: 40px;
    width: 100%;
    background-color: hsl(201, 11%, 95%);
    display:none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
<<<<<<< HEAD
overflow: hidden;
=======
overflow: scroll;
    height:20rem;
>>>>>>> c0a40b0c031585b4ad6611cd69d993b76005db37

}

.result-container{
    height: auto;
    width: 15vw;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding:10px;
    border-radius: 22px; 
    cursor: pointer;   
}

.result-container:hover{
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.6);
    transform: scale(1.05, 1.05);
}

.result-container img{
    border-radius: 20px;
 max-width: 100%;
 max-height: 100%;
}
.result-container h2{
    font-weight: 500;
    width: auto;
    padding: 5px;
}
.result-container h2:hover{
    color: orange;
}

.detailed-view{
    padding: 40px;
    margin-top: 40px;
    width: 100%;
    background-color: hsl(201, 11%, 95%);
    display:none;
    flex-direction: column;
 
}
.detailed-view .top{
    display: flex;
}
.headline{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headline img{
height: 20px;
width: 20px;
transition: 0.2s;
} 
.headline img:hover{
    text-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.6);
    transform: scale(1.3, 1.3);

}

.headline h1{
    font-weight: 900;;
    font-size: 40px;
    text-decoration: underline;
    color: black;
}
.headline h1:hover{
    color: orange;
    cursor: pointer;
}
.top{
    font-size: 23px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;

}

.top img{
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    border: 8px solid white;
    transition: transform .2s;
    box-shadow:  0px 30px 28px -6px rgba(0, 0, 0, 0.6);;
}

.top img:hover{
    opacity: 0.5;
    transform: scale(1.1);
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.6);
    cursor: pointer;

}

.bottom{
    margin-top: 30px;
    font-size: 23px;
    font-weight: 500;
}
.bottom h2{
    font-size: 35px;
}
.bottom h2:hover{
    color: orange;
}

.detailed-view .bottom{
    display: flex;
    flex-direction: column;
}




.middle{
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    align-items: center;
    gap: 70px;
}
.left h1{
    font-size: 50px;
}
.left h1 span{
    color: orange;
}

.left p{
    margin-top: 10px;
    font-size: 22px;
}

.right img{
    border: 8px solid hsl(201, 11%, 95%);
    width: 40vw;
    border-radius: 60%;
}

.popular{
    font-weight: 900;
    padding: 50px;
    margin-top: 30px;
    background-color: hsl(201, 11%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    
}

.popular-head h1{
    font-size: 50px;
}
.popular-head h1 span{
    color: orange;
}

.popular-head p{
    font-size: 20px;
    margin-top: 8px;
}

.popular-img{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

.popular-img img{
    border: 6px solid white;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    transition: transform .2s;
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.2);
}

.popular-img img:hover{
    opacity: 0.5;
    transform: scale(1.1);
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.dish h2{
    width:12vw;
    margin-top: 5px;
    font-size: 18px;
}
